

html {
    display: box;
    box-sizing: border-box;
    /* font-size: ; */
    /* margin: none; */
    /* padding: ; */
    background-color: #00fff244;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

h1, h2 { 
    /* padding: 222px; */
    text-align: center;
    display: inline-block;
    width: 100vw;
    color: rgba(29, 24, 17, 0.692);
    
    font-size: 7em;
    font-family: "Lobster", Helvetica, serif;
}

table {
    height: 50%;
    width:50%;
}

thead, label {
    display: block;
    text-align: center;
}

th td {
    display: block;
    width: 100vw;

}

label {
    display: block;
}

#submit-btn {
    display: block;
}

section {
    /* margin-bottom: 3rem; */
    border: solid green 1px;
    /* border-top: dotted cyan 2px; */
}