html {
    background: url(/Week-1/images/2x-ninja-tune-slipmats-main.jpg) cover;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
}