html {
    font-family: Vast Shadow,Bowlby One Sc, Black Ops one,Ultra;
}
body {
    font-family: Ultra,Vast Shadow,Bowlby One Sc;
    display: block;
    box-sizing: border-box;
    background: rgb(29, 29, 41);
    background: linear-gradient(rgb(30, 29, 41) 2%, rgb(32, 89, 95) 70, rgb(23, 1, 112) 100%);
    font-size: 3.4rem;
    color: rgba(26, 149, 168, 0.224);
    
}

img {
    border-top: rgba(10, 39, 87, 0.561) solid 4px;
    border-bottom: solid 3px rgba(0, 63, 63, 0.774);
    margin: auto;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
header {
    font-size: 4.5rem;
    /* border: red solid 2px; */
    text-shadow: 2px 6px 2px rgba(255, 129, 129, 0.884);
    font-family: Ultra;
    
    
}
h1 {
    margin-left: 2%;
    text-shadow: 3px 12px 2px rgb(56, 113, 124);
}
img {
    box-shadow: 66px 68px 267px rgb(20, 27, 27);    
    /* width: 100%; */
    margin: auto;
    /* size: cover; */
    position: center;
    /* text-align: center; */
}

nav, a {
    text-shadow: 1px 3px 2px rgba(37, 173, 169, 0.829);
    /* display: inline; */
    /* text-decoration-style: none; */
    text-align: center;
    color: rgb(27, 54, 59);
    /* padding-left: 190px; */
    /* border-bottom: solid black 2px; */
}
ul li {
    display: block;
    text-shadow: 2px 3px 4px rgb(16, 59, 86);
    font-family: Ultra;
    list-style-type: none;
    margin: 21px auto;
}

audio {
    width: 90%;
    /* margin: 5% 5%; */
}


h2 {
    border-top: solid rgb(0, 1, 2) 1px;
    text-shadow: 5px 6px 2px rgba(7, 36, 29, 0.482);
    border-bottom: solid rgb(34, 40, 51) 2px;
    /* font-family:; */
    /* margin: %; */
    display: block;
    /* width: 100%; */
    /* border-left: solid rgba(0, 25, 42, 0.863) 2px; */
}
#one {
    text-align: center;
    margin: auto;
    
    /* width: 90%; */
}


#two {
    text-align: center;
    /* margin-right: 50%; */
    width: 100%;
}

hr {
    /* Gradient transparent - color - transparent */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
